'keywords' : 
  'SAY_HELLO' :[
    'Hello'
    'Good morning'
    'Good afternoon'
  ]
'Routes' : [
    {
    prefix : '/v1'
    pin : 'role:engagement,cmd:containsKeywords'
    map : {
      containsKeywords : {
        GET : true
        POST : true
        name: 'containsKeywords'
        ## alias$ : '/containKeyword'
        }
      }
    }
  ]
